body {
    background: yellow;
    paddin: 0;
    margin: 0;
}

.blue {
    color: blue;
    font-size: 40px;
}

.red {
    background: red;
}
     

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: pink;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.item {
  width: 48%;
  height: 100px;
  margin-bottom: 2%;
  background: purple;
 font-size: 50px;
}

.page-title {
    color: green;
}

.centerElement {
  width: 100%;
}

