body {
    background: yellow;
}

.blue {
    color: blue;
    font-size: 40px;
}

.red {
    background: red;
}
.container {
    display: flex;
    background: pink;
    padding: 5px;
}

.item {
    flex-grow: 1;
    height: 100px;
    background: purple;
    color: white;
}

.item + .item {
    margin-left: 2%;
}
